*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: rgb(255, 255, 255);
}

#image{
    width: 90%;
    height: 2%;
    margin: 2% 5%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.table{
    width: 90%;
    height: 5%;
    margin: 10px 20%;
}
table, th, td{
    border: 1px solid white;
    border-radius: 8px;
    color: black;
    font-weight: 500;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(0, 201, 0);
}

